body{
    background-color: rgb(18, 87, 87);
  }
  header{
    background-color: rgb(99, 54, 54);
  }
  h1{
    color: white;
    text-align: center;
    background-color: rgb(46, 211, 223);
  }
h2{
  color: white;
    text-align: left;
  background-color: gray;
  justify-content: center;
}
nav{
  color: aqua;
    text-align: center;
    text-shadow: 2cap;
  footer {
    text-align: center;
  }

  }
  #myWeb{
    color: antiquewhite;
  }
  nav a{
    color: rgb(20, 188, 230);
    padding: 8px;
    text-decoration: aqua;
    text-align: center;
    background-image: -moz-element();
  }
  .image {
    position: relative;
    width: 100px;
    height: 100px; ;
    border-radius: 40px;
    float: right;
    margin-right: 50px;
     top: 0%;
     left: 0%;
    
  
  }p .username{
    color: #1e1aec;
   font-size: medium;
   text-decoration: blueviolet;
 }
 @media (max-width:500px){
  body{
    background-color: rgb(63, 16, 10);
  }
  h1{
    color: brown;
  }
  nav a{
    display: flex;
  }
}
  @media(min-width:501px) and (max-width:720px)  {
    body{
      background-color: violet;
    }

  }
    
  

  